button
  border: 0px solid
  background-color: #fff
  font-weight: 600
  transition: color, background-color, text-shadow, box-shadow .2s
  color: gray
  text-shadow: 0px 0px 0px gray
  box-shadow: inset 0px 0 0 #000
  cursor: pointer
  &:hover
    box-shadow: inset 50px 0 0 #000
    color: white
